*{  
    background-color: black;
    text-decoration: none;
    align-items: flex;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}
.Encabezado{
    background-color: black;
    display: flex;
    
}

.nav{
    float:inherit;
    height: auto;
    width: auto;
    background-color:#437A67;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    
   
}

.Lista{
    width: auto;
    display: inline-flex;
    height: 35px;
    color: white;
    justify-content:space-evenly;
    list-style:none;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    align-items: center;
    background: inherit;
    position: relative;
    
    /* justify-content: center; */
    
    
}

.li:hover {
    background:#67bea0 ;
    border-radius: 5px;
   }
.li{
    padding:10px;
    margin: 40px;
    width: auto;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    float: left;
    background: inherit;   
   }


  /* **********submenu de categoria ***********/ 
.submenu{
    list-style:none;
    position: absolute;
    width: auto;
    display:flex;
    left: 190px;
    top:60px;
    background: inherit;
    align-items: center;
    flex-direction: column;
    z-index: 4;
   }

 li{
    
    margin: 2px;
    padding:15px;
    background: inherit;
    justify-content: start;
    float: left;
    width:25%;
    display:inline-table;
    
}

.submenu> li:hover{
    background:#67bea0 ;
    border-radius: 5px;
}
.submenu{
    display: none;
}
 #menu:hover> .submenu {
    display: block;
}
#Genero, #Especie, #Estado{
    display: none;
    background-color: inherit;
}
#Genero:hover> li {
    display: block;
} 
 .submenu:hover>#Especie{
    display: block;

}
.submenu:hover> #Estado{
    display: block;
}



  /* **********MAIN ***********/ 

  .main, h1{

    float: center;
    display: flex;
    color: white;
    font-family:  'Hind', sans-serif;
    align-content: center;
    margin: 35px;
    
    
}

.banner{
    position: relative;
    width: 100%;
    height:35vh;
    background-color: white;
    background-size: cover; 
    background-position: center;
    transition: all 1.s ease-in-out;
    background-image: url('../src/Img/banner1.png'); 
    animation: banner 15s infinite linear;
}

@keyframes banner{
    0%{background-image: url('../src/Img/banner1.png');
    }
    25%{background-image: url('../src/Img/banner1.png');
    }
    26%{background-image: url('../src/Img/banner2.png');
    }
    50%{background-image: url('../src/Img/banner2.png');
    }
    51%{background-image: url('../src/Img/banner3.png');
    }
    75%{background-image: url('../src/Img/banner3.png');
    }
    76%{background-image: url('../src/Img/Rick-and-Morty.gif');
    }
    100%{background-image:url('../src/Img/Rick-and-Morty.gif');
    }

}

.principal{
 margin-top: 0px;
 margin-left: 180px;
 display: flex;
 width: 850px;
 height: 450px;
 position: absolute;
 float: start;
 top: 250px;
 left: 400px;
}

aside{
    position: relative;
    /* padding-top: 95px;
    margin: 30px; */
    float: left;
    width: auto;
    height: 650px;
    background-color: none;
    color: white;
    font-size: inherit;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    
    
}
.About{
    background-color: #437A67;
    width: 400px;
    height: 400px;
    margin: 35px;
    display: flex;
}
h2{
    margin: 15px;
    padding: 5px;
    height: 45px;
    width: 65px;
    display: inline-flex;
    text-align: center;
    background-color: inherit;
    
}
p{
    width: 250px;
    text-align: center;
    background-color: transparent;
    position:relative;
    top: 15px;
    display: stretch;
}
.Links{
    color: white;
    margin: 0px;
    padding: 0px;
    display: flex;
    width: 400px;
    height: 400px;
    
}
.ListaDePersonajes{
    background-color: #437A67;
    display: flex;
    flex-direction: column;
    width:350px;
    margin: 5px;

}

.ListaDePersonajes:hover{
    background:#67bea0 ;
    border-radius: 5px;
}

#input-buscador{
    width: 300px;
    height: 35px;
    font-size: 20px;
    text-indent: 10px;
    color: white;
    background-color: #5BA978;
    border: none;
    margin: 15px;
    /* padding: 0px; */ 
    outline:none;
   
}
#Buscar, #personajesAZ{
background-color: #437A67;
color: white;
height: 35px;
width: 90px;
border:none;
font-size: inherit;
text-decoration: none;
outline:none;
}
#Buscar,#personajesAZ:hover{
    background:#67bea0 ;
    border-radius: 5px;
    
}
#Buscar:active{
    
    background-color: teal;
}
#ParrafoDePrueba{
    color: white;
    height: 80px;
    width: 80px;
    display: stretch;}

/************Tarjetas*************/


#contenedorTarjetas{
    display: inline-flex;
    grid-template-columns: repeat(3,1fr);
    width: 940 px;
    gap: 15 px;
    margin:30px;
    justify-items: center;
    align-items: center;
}

#tarjeta{
    height:320px;
    width: 350px;
    overflow: hidden;
    margin:20PX auto;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0%;
    border:1px solid white;
    transition: all .4s ease-in-out;
    box-shadow:1 px 1 px 1 px 1px white(0,0,0,0,0.3);
    text-align:center;
    background:linear-gradient(-135deg,yellow,#437A67,#5BA978);
    
 }
  
   #tarjeta:hover{
     height:450px;
     width: 350px;
     border-radius: 5px;
     box-shadow: 10 px 10px 10px 10 px yellow(0,0,0,0.5);
 }

    /* .personaje img{
     position: relative;
     border-radius: 20%;
     display: block;
     height: 20px;
     width: 20px;
     border-top: 8 px solid white; 
     border-bottom: white;
     object-fit: cover;
     margin: 20px auto;
     transition: all 0.3s ease;
     }  */

     h3 {
         font-size:15px;
         color:white;
         text-align: left;
         background:transparent;

     }
     img{
         width: 100px;
         height: 100px;
         background:transparent;
     }

