*{  
    background:black;
    text-decoration: none;
    align-items: flex;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    position:relative;
    z-index: 0;
}
.nav{
    float:inherit;
    height: auto;
    width: auto;
    background:#437A67;
    position: relative;
    
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
    
   
}

.Lista{
    width: auto;
    display: inline-flex;
    height: 35px;
    color: white;
    justify-content:space-evenly;
    list-style:none;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    align-items: center;
    background: inherit;
    position: relative;
    
    /* justify-content: center; */
    
    
}

.li:hover {
    background:#67bea0 ;
    border-radius: 5px;
   }
.li{
    padding:10px;
    margin: 40px;
    width: auto;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    float: left;
    background: inherit;   
   }


  /* **********submenu de categoria ***********/ 
.submenu{
    list-style:none;
    position: absolute;
    width: auto;
    display:none;
    left: 190px;
    top:60px;
    background: inherit;
    align-items: center;
    flex-direction: column;
    z-index: 100;
   }

 li{
    margin: 2px;
    padding:15px;
    background: inherit;
    justify-content: start;
    float: left;
    width:25%;
    display:inline-table;   
    z-index: 100;
}
.li:hover>#menu{
    display: block;
}






  /* **********MAIN ***********/ 

  .main, h1{

    float: center;
    display: flex;
    color: white;
    font-family:  'Hind', sans-serif;
    align-content: center;
    margin: 35px;
    font-weight: lighter;
    
    
}

.principal{
 margin-top: 0px;
 margin-left: 180px;
 display: flex;
 width: 850px;
 height: 450px;
 position: absolute;
 float: start;
 top: 250px;
 left: 400px;
}

aside{
    position: relative;
    padding-top: 95px;
    margin: 30px;
    float: left;
    width: auto;
    height: 650px;
    background-color: none;
    color: white;
    font-size: inherit;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    
    
}
.About{
    background: #437A67;
    width: 400px;
    height: 400px;
    margin: 35px;
    display: flex;
}
h2{
    margin: 15px;
    padding: 5px;
    height: 45px;
    width: 65px;
    display: inline-flex;
    text-align: center;
    background: inherit;
    
}
p{
    width: 250px;
    text-align: center;
    background: transparent;
    position:relative;
    top: 15px;
    display: stretch;
}
.Links{
    color: white;
    margin: 0px;
    padding: 0px;
    display: flex;
    width: 400px;
    height: 400px;
    
}
.ListaDePersonajes{
    background: #437A67;
    display: flex;
    flex-direction: column;
    width:350px;
    margin: 5px;

}

.ListaDePersonajes:hover{
    background:#67bea0 ;
    border-radius: 5px;
}

#input-buscador{
    width: 300px;
    height: 35px;
    font-size: 20px;
    text-indent: 10px;
    color: white;
    background: #77af8c;
    border: none;
    margin: 15px;
    /* padding: 0px; */ 
    outline:none;
   
}
#Buscar{
background: #437A67;
color: white;
height: 35px;
width: 90px;
border:none;
font-size: inherit;
text-decoration: none;
outline:none;
}
#Buscar,#personajesAZ:hover{
    background:#67bea0 ;
    border-radius: 5px;
    
}
#Buscar:active{
    
    background-color: teal;
}
#ParrafoDePrueba{
    color: white;
    height: 80px;
    width: 80px;
    display: stretch;}

/************Tarjetas*************/


#contenedorTarjetas{
    display: inline-flex;
    grid-template-columns: repeat(3,1fr);
    width: 940 px;
    gap: 15 px;
    margin:30px;
    justify-items: center;
    align-items: center;
    position: relative;
    top: 700px;
}

#tarjeta{
    height:200px;
    width: 250px;
    overflow: hidden;
    margin:20PX auto;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0%;
    border:1px solid white;
    transition: all .4s ease-in-out;
    box-shadow:1 px 1 px 1 px 1px white(0,0,0,0,0.3);
    text-align:center;
    background:linear-gradient(-135deg,yellow,#437A67,#5BA978);
    
 }
  
   #tarjeta:hover{
     height:350px;
     width: 250px;
     border-radius: 5px;
     box-shadow: 10 px 10px 10px 10 px yellow(0,0,0,0.5);
 }

    /* .personaje img{
     position: relative;
     border-radius: 20%;
     display: block;
     height: 20px;
     width: 20px;
     border-top: 8 px solid white; 
     border-bottom: white;
     object-fit: cover;
     margin: 20px auto;
     transition: all 0.3s ease;
     }  */

.caracteristicas h3 {
     font-size:15px;
     color:white;
     text-align: left;
     background:transparent;

     }
    footer{
        background-color: rgb(223, 235, 64);
        align-items: flex-end;
        position: relative;
        top: 800px;
    }
