*{  
    background-color: black;
    text-decoration: none;
    box-sizing: content-box;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
body{
    height: 100vh;
    
    box-sizing: content-box;  
    flex-wrap: wrap;
    
}
header{
    
    width: 100vw;
    height: 9vh;
    flex-wrap: wrap;
}
nav{
    height: 10vh;
    width: 100vw;
    background-color:#437A67;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    /* padding-right: 30vw; */
    justify-content: space-between;  
    align-items: flex-start;


}
main{
    background: blueviolet;
    position: relative;
    top: 50%;
    left: 5%;
    padding: auto;
    flex-wrap: wrap;
    align-content: stretch;
    height: auto;
    width:60vw ;
    display: flex;


    
}
.logo{
    color: white;
    
    font-size: 2vh;
    background: inherit;
    width: 10vw;
    height: 8vh;
    margin-left: 0.5%;
    padding-top: 1vh;
    font-weight: bolder;
    letter-spacing: 5px;
    flex-wrap: wrap;  

}
nav ul{
    /* position: relative;
    top: 0em; */
    flex-wrap: wrap; 
    width: 120vw;
    display: flex;
    height: 7.5vh;
    color: white;
    list-style:none;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    justify-content: space-around;
    align-items:  baseline;
    background: inherit; 
     
}
.li:hover {
    background:#67bea0 ;
    border-radius: 5px;
}
.gg-home{
    margin: auto;
    padding: 0.5%;
    display: inline-flex;
}
.li{
    margin-top: 0vw;
    text-align: center;
    align-items:baseline;
    display:flex;
    justify-content: center;
    padding: 0.8em;;
    background:inherit;
    width:12vw;
   }


  /* **********submenu de categoria ***********/ 
.submenu{
    list-style:none;
    position: relative;
    width: auto; height: auto;
    display:flex;
    left: auto;
    top:63px;
    background: inherit;
    flex-direction: column;
    z-index: 4;
    display: none;
    background:#437A67;
    align-items: center;
    width: 20%;
    padding: 0%;
    margin: 0%;
}
   

    
.submenu> li:hover{
background:#67bea0 ;
border-radius: 5px;
    
}
 /* .Lista:hover .submenu {
display: block; */
    
#input-buscador{
    display:flex;
    width:  15vw;
    height:  3.5vh;
    font-size: 15px;
    text-indent: 10px;
    color: white;
    background-color: #5BA978;
    padding:  auto;
    border: none;
    margin: 15px;
    outline:none; 
}
.caracteristicas{
    background: transparent;
    display: flex;
}
#Buscar{
background-color: #437A67;
color: white;
height: 4vh;
width: 5vw;
border:none;
font-size: inherit;
text-decoration: none;
display:flex;
outline:none;
position: relative;
/* top: 1em; */
bottom: 3%;
padding: 0.3em;
}
#Buscar:hover{
background:#67bea0 ;
border-radius: 5px;
    
}

.lista_submenu{
    background-color: inherit;
    width: auto;
    height: auto;
    align-items: flex-start;
    text-align: center;
    font-size: 20px;
    padding: 1em;
}
/* @media screen and (max-width: 741px) {
   header {
        height: 60%;
        width: 60%;
        background-color: aquamarine; */
  /* }} */ 


  /* **********MAIN ***********/ 

.main, h1{
  float: center;
  display: flex;
  color: white;
  font-family:  'Hind', sans-serif;
  align-content: center;
  margin: 35px;
    
    
}

.banner{
    position: relative;
    top: 7em;
    width: 100%;
    height:35vh;
    background-color: white;
    background-size: cover; 
    background-position: center;
    transition: all 1.s ease-in-out;
    background-image: url('../src/Img/banner1.png'); 
    animation: banner 15s infinite linear;
}

@keyframes banner{
    0%{background-image: url('../src/Img/banner1.png');
    }
    25%{background-image: url('../src/Img/banner1.png');
    }
    26%{background-image: url('../src/Img/banner2.png');
    }
    50%{background-image: url('../src/Img/banner2.png');
    }
    51%{background-image: url('../src/Img/banner3.png');
    }
    75%{background-image: url('../src/Img/banner3.png');
    }
    76%{background-image: url('../src/Img/Rick-and-Morty.gif');
    }
    100%{background-image:url('../src/Img/Rick-and-Morty.gif');
    }

}

.principal{
 margin-top: 0px;
 margin-left: 180px;
 display: flex;
 width: 850px;
 height: 450px;
 position: absolute;
 float: start;
 top: 250px;
 left: 400px;
}

aside{

 float: left;
 width: auto;
 height: 100%;
 background-color: transparent;
 color: white;
 font-size: inherit;
 position: relative;
top: 50%;
 display: flex;
 flex-direction: column;
    
    
}
.About{
 background-color: #437A67;
 width: 400px;
 height: auto;
 margin: 35px;
 display: flex;
 
}

#AboutH2{
 margin: 3%;
 padding: 1%;
 height: auto;
 width: 400px;
 font-size: 20px;
 position: relative;
 top: 2px;
 /* display: inline-flex; */
 text-align: center;
 background-color: rgb(179, 221, 26);
    
}


.Links{
 color: white;
 margin: 0px;
 padding: 0px;
 display: flex;
 width: 400px;
 height: 400px;
    
}
.ListaDePersonajes{
    background-color: #437A67;
    display: flex;
    flex-direction: column;
    width:350px;
    margin: 5px;
    padding: 5%;

}

.ListaDePersonajes:hover{
    background:#67bea0 ;
    border-radius: 5px;
}


#ParrafoDePrueba{
 color: white;
 height: 80px;
 width: 80px;
 display: flex;}

/**************** NAV QUIENES SOMOS  **************/
#SomosQ{
    box-shadow: -9px 6px 136px -12px rgba(99,156,112,0.5);
    -webkit-box-shadow: -9px 6px 136px -12px rgba(99,156,112,0.5);
    -moz-box-shadow: -9px 6px 136px -12px rgba(99,156,112,0.5);
 width: 100%;
 height: 30em;
 background-color:#211E1E ;
 position:relative;
 top: 1em;
 display: inline-grid;
 left: 5%;
 color: white;
 font-size: inherit;
 margin-right: auto;
 margin-left: auto;
 display: none;
 text-align: center;
 padding: 15px;

 }
 #Rick{
     background-color: transparent;
     height: 40%;
     position: absolute;
     top: 5%;
     left: 5%;
 }
 #Squanchy{
    background-color: transparent;
    height: 50%;
    position: relative;
     bottom: 3%;
     left: 25%;
}

 h2{
     padding: 30px;
     align-content: center;
     font-size: 35px;
     background-color: inherit;
 }

/************Tarjetas*************/


#contenedorTarjetas{
    display: inline-flex;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
    gap: 2em;
    margin:1%;
    /* margin-top: 5%; */
    justify-items: center;
    align-items: center;
    background: red;
    flex-wrap: wrap;
    align-content: stretch;
    height: auto;
}

#tarjeta{
    
    /* display: none; */
    height: 452px;
    width: 205px;
    overflow: hidden;
    margin:20px auto;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0%;
    border:1px solid white;
    transition: all .4s ease-in-out;
    box-shadow: 1px 1px 1px 1px white(0,0,0,0,0.3);
    text-align:center;
    background:linear-gradient(-135deg,yellow,#437A67,#5BA978);
    
 }
  
#tarjeta:hover{
     height:670px;
     width: 205px;
     border-radius: 5px;
     box-shadow: 10 px 10px 10px 10 px yellow(0,0,0,0.5);
 }

 #imgPersonaje{
 width: 15em; height:15em;
 display:flex;
 flex-wrap: wrap;

 }
#nombrePersonaje{
    font-size: 25px;
    width: 50vw;
    height: max-content;
    background-color: coral;
}


h3{
 font-size:18px;
 font-family: inherit;
 color:white;
 margin:10px 10px;
 text-align: center;
 background:transparent;
}
    
h4{
    font-size:18px;
    font-family: inherit;
    color:white;
    text-align: left;
    margin: 12px;
    background:transparent;
   }
        
    
    

